<style>
    .required-color {
        color: red;
    }
</style>

<div class="well" ng-controller="authCtrl">
    <div class="alert alert-info" ng-hide="authenticationError || showSignUpForm">
        Enter your username and password and click Log In to authenticate
    </div>
    <div class="alert alert-info" ng-hide="signForm.$invalid || !showSignUpForm">
        <span ng-hide="">Click "Sign Up" button to create your account</span>
    </div>
    <div class="alert alert-danger" ng-show="signForm.$invalid && showSignUpForm">
        <span ng-show="signForm.$error.required"> Please fill up required fields </span>
        <span ng-show="!signForm.$error.required && signForm.$error.email"> Please enter correct email format </span>
    </div>
    <div class="alert alert-danger" ng-show="authenticationError && !showSignUpForm">
        Authentication Failed. ({{authenticationError.message}})
    </div>
    <form name="authForm" novalidate ng-hide="showSignUpForm">
        <div>
            <div class="form-group">
                <label>Username</label>
                <input name="username" class="form-control" ng-model="username" required/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control"
                       ng-model="password" required/>
            </div>
        </div>

        <div class="text-center">
            <button ng-click="authenticate(username, password)"
                    ng-disabled="authForm.$invalid"
                    class="btn btn-primary">
                Log In
            </button>

            <a ng-click="showSignUpForm = true"> Or click here to sign up</a>

        </div>
    </form>

    <form ng-show="showSignUpForm" name="signForm" novalidate>
        <div class="form-group">
            <span class="required-color">*</span> <label>Username</label>
            <input name="username" class="form-control" ng-model="credentials[0]" required/>
        </div>
        <div class="form-group">
            <span class="required-color">*</span> <label>Password</label>
            <input name="password" type="password" class="form-control"
                   ng-model="credentials[1]" required/>
        </div>
        <div class="form-group">
            <span class="required-color">*</span> <label>Email</label>
            <input name="email" type="email" class="form-control" ng-model="credentials[2]" required/>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input name="phone" type="text" class="form-control"
                   ng-model="credentials[3]"/>
        </div>

        <div class="text-center">
            <button ng-click="signUp()" ng-disabled="signForm.$invalid"
                    class="btn btn-primary">
               Sign Up
            </button>

            <a ng-click="showSignUpForm = false"> Or click here to return to Log In page</a>

        </div>
    </form>
</div>
