<style>
    .form-group {
        margin: 0 !important;
    }

    .action {
        width: 100%;
    }

    .fd-inputs {
        margin-bottom: 2px !important;
    }

    .features-form {
        height: 260px;
        overflow-y: auto;
    }

    .details-form {
        height: 260px;
        overflow-y: auto;
    }

    .required-details-form {
        /*height: 520px;*/
    }

    .upload-form {
        height: 520px;
        /*overflow-y: auto;*/
    }

    .main-editor {
        /*background-color: rgba(56, 58, 56, 0.100);*/
    }

    .details-main {
        margin-top: 5px
    }

    .notification-bar {
        margin-left: 30%;
        padding: 8px;
    }

    .error {
        color: red;
        font-weight: bold;
    }

    .success {
        color: #006600;
        font-weight: bold;
    }

    .thumbnail {
        margin-bottom: 5px;
    }

    @media (min-width: 0px) and (max-width: 422px){
        .notification-bar{
            font-size: .7em;
            margin-left: 3%;
            display: block;
            margin-top: 3px;
            width: 87%;
        }

        .file-edit-count, .file-new-count {
            font-size: .7em;
        }

        .upload-form .btn{
            width: 50px;
            font-size: 8px;
        }

    }

    @media (min-width: 423px) and (max-width: 600px){
        .notification-bar{
            font-size: .9em;
            margin-left: 10%;
        }

    }

</style>

<div class="panel-body main-editor" ng-controller="editorCtrl">
<form name="detailsForm" novalidate>


<div class="container">
<div class="row">
<div class="col-md-12 col-lg-12">
<div class="action">

    <span ng-switch on="util.mode">
        <span ng-switch-when="update">
            <button class="btn btn-primary" update-confirmation ng-disabled="detailsForm.$invalid">Update
            </button>
        </span>
        <span ng-switch-default>
            <!--<button class="btn btn-primary" ng-click="saveProduct()" ng-disabled="detailsForm.$invalid">Save</button>-->
            <button class="btn btn-primary" save-confirmation ng-disabled="detailsForm.$invalid">Save</button>
            <button class="btn btn-primary" clear-details-confirmation>Clear</button>
        </span>
    </span>
    <!--<button class="btn btn-danger" ng-click="cancelEdit()">Clear All</button>-->


    <span class="notification-bar alert" editor-validation>

    </span>
    <!--<span ng-show="detailsForm.$invalid">
         <span class="notification-bar alert alert-danger" ng-show="detailsForm.$error.required">
        Please enter required details
        </span>
        <span class="notification-bar alert alert-danger"
              ng-show="!detailsForm.$error.required && detailsForm.$error.pattern">
        Whole numbers or decimals only
        </span>
         <span class="notification-bar alert alert-danger"
               ng-show="!detailsForm.$error.required && !detailsForm.$error.pattern && !containsImages()">
        Please select at least one image
        </span>
        <span class="notification-bar alert alert-danger"
              ng-show="!detailsForm.$error.required && !detailsForm.$error.pattern && containsImages()
              && detailsForm.$error.primaryImage">
        Please select a primary image
        </span>
    </span>
    <span ng-hide="detailsForm.$invalid">
        <span class="notification-bar alert alert-info" ng-show="containsImages()">
        You may save/update anytime
        </span>
    </span>-->

</div>

<div class="details-main">
    <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-info required-details-form" ng-class="{'panel-danger': detailsForm.$error.required}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Required Details
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <span><label>Category:</label></span> <span class="success">{{currentProduct.category}}</span>
                    <select name="category" class="form-control" ng-model="currentProduct.category" required>
                        <option></option>
                        <option selected>House</option>
                    </select>
                </div>
                <div class="form-group">
                    <span><label>Price:</label> </span>
                    <span ng-hide="detailsForm.price.$error.pattern"
                          class="success">{{currentProduct.price | currency}}</span>
                <span ng-show="detailsForm.price.$error.pattern" class="error">
                    Numbers only
                </span>
                    <input name="price" class="form-control" ng-model="currentProduct.price"
                           ng-pattern="numberWithDecimalPattern()" required/>
                </div>

                <div class="form-group">
                    <span><label>City:</label> </span><span class="success">{{currentProduct.city}}</span>
                    <input name="city" class="form-control" ng-model="currentProduct.city" required/>
                </div>

                <div class="form-group">
                    <span><label>Beds:</label> </span>
                <span ng-hide="detailsForm.beds.$error.pattern" class="success"><ng-pluralize
                        count="currentProduct.beds"
                        when="{'1' : '1 bed', 'other' : '{} beds'}"></ng-pluralize></span>
                 <span ng-show="detailsForm.beds.$error.pattern" class="error">
                    Numbers only
                </span>
                    <input name="beds" class="form-control" ng-model="currentProduct.beds"
                           ng-pattern="numberWithDecimalPattern()" required/>
                </div>

                <div class="form-group">
                    <span><label>Bath:</label> </span>
                <span ng-hide="detailsForm.bath.$error.pattern" class="success"><ng-pluralize
                        count="currentProduct.bath"
                        when="{'1' : '1 bath', 'other' : '{} baths'}"></ng-pluralize></span>
                <span ng-show="detailsForm.bath.$error.pattern" class="error">
                    Numbers only
                </span>
                    <input name="bath" class="form-control" ng-model="currentProduct.bath"
                           ng-pattern="numberWithDecimalPattern()" required/>
                </div>

                <div class="form-group">
                    <span><label>Floor Area:</label> </span>
                    <span ng-hide="detailsForm.floorArea.$error.pattern" class="success">{{currentProduct.floorArea ? currentProduct.floorArea + " sq. m" : ""}}</span>
                <span ng-show="detailsForm.floorArea.$error.pattern" class="error">
                    Numbers only
                </span>
                    <input name="floorArea" class="form-control" ng-model="currentProduct.floorArea"
                           ng-pattern="numberWithDecimalPattern()" required/>
                </div>

                <div class="form-group">
                    <span><label>Lot Area:</label> </span>
                    <span ng-hide="detailsForm.lotArea.$error.pattern" class="success">{{currentProduct.lotArea ? currentProduct.lotArea + " sq. m" : ""}}</span>
                <span ng-show="detailsForm.lotArea.$error.pattern" class="error">
                    Numbers only
                </span>
                    <input name="lotArea" class="form-control" ng-model="currentProduct.lotArea"
                           ng-pattern="numberWithDecimalPattern()" required/>
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label>Name:</label>
            <input class="form-control" ng-model="currentProduct.name"/>
        </div>-->

    </div>
    <div class="col-sm-8 col-md-4 col-lg-4 ">
        <!--<div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" style="width: 200px">
            <button type="button" class="btn btn-success btn-add">+</button>
        </div>-->
        <div class="panel panel-info features-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Key Features
                </h3>
            </div>
            <div class="panel-body">
                <simple-repeater type="features">
                    <div class="form-group multiple-form-group input-group fd-inputs">
                        <input type="text" class="form-control"
                               ng-model="currentProduct.features[index]">
                             <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add cloner">+</button>
                             </span>
                    </div>
                </simple-repeater>
            </div>
        </div>


        <div class="panel panel-info details-form">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Other Details
                </h3>
            </div>
            <div class="panel-body">
                <simple-repeater type="details">
                    <div class="form-group multiple-form-group input-group fd-inputs">
                        <input type="text" class="form-control"
                               ng-model="currentProduct.details[index]">
                             <span class="input-group-btn">
                                <button type="button" class="btn btn-success btn-add cloner">+</button>
                             </span>
                    </div>
                </simple-repeater>
            </div>
        </div>


        <!--<div>
            <label>Description:</label>
        </div>
        <div>
            <textarea ng-model="currentProduct.description"></textarea>
        </div>-->
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5">

        <div class="panel panel-info upload-form"
             ng-class="{'panel-danger': !detailsForm.$error.required && !containsImages() || detailsForm.$error.primaryImage}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Upload Images <span class="pull-right file-new-count">(
                    <ng-pluralize
                            count="counter"
                            when="{'0' : '{} file',
                        '1' : '{} file',
                        'other' : '{} files'}">
                    </ng-pluralize>)</span>
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    <!--<label>Upload images:</label>-->
                    <input type="file" ng-file-select="onFileSelect($files)" multiple
                           onclick="this.value=null"
                           onchange="angular.element(this).scope().$apply('imageDescriptions = []');">

                    <div class="row" style="height: 420px; overflow-y: auto">
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6" ng-repeat="f in selectedFiles">

                            <div class="thumbnail">
                                <!--<img src="/bootstrap/images/kittens.jpg"
                                     alt="Generic placeholder thumbnail">-->
                                <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                            </div>
                            <div class="caption">
                                <!--<p>Primary Image <input type="radio"></p>-->
                                <p><input type="text" ng-model="imageDescriptions[$index]"
                                          style="width: 100%" placeholder="Description"/></p>

                                <p>
                                    <a class="btn btn-default btn-sm"
                                       ng-class="{'btn-primary' : isPrimary('N', f.name)}"
                                       ng-click="setNewPrimary(f.name)" role="button">
                                        Primary
                                    </a>
                                    <a class="btn btn-danger btn-sm" ng-click="removeSelectedFile(f)" role="button">
                                        Remove
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12" ng-show="util.mode == 'update'">

    <div class="panel panel-info upload-form"
         ng-class="{'panel-danger': !detailsForm.$error.required && detailsForm.$error.primaryImage}">
        <div class="panel-heading">
            <h3 class="panel-title">
                Edit Images
                <span class="pull-right file-edit-count">(
                    <ng-pluralize
                            count="currentProduct.galleryImages.length"
                            when="{'1' : '{} image',
                        'other' : '{} images'}">

                    </ng-pluralize>)</span>
            </h3>
        </div>
        <div class="panel-body">
            <div>

                <div class="row" style="height: 420px; overflow-y: auto">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" ng-repeat="item in currentProduct.galleryImages">

                        <div class="thumbnail">
                            <!--<img src="/bootstrap/images/kittens.jpg"
                                 alt="Generic placeholder thumbnail">-->
                            <img ng-src="{{item.path}}">
                        </div>
                        <div class="caption">
                            <!--<p>Primary Image <input type="radio"></p>-->
                            <p><input type="text" ng-model="item.imageDescription"
                                      style="width: 100%" placeholder="Description"/></p>

                            <p>
                                <a class="btn btn-default btn-sm" ng-class="{'btn-primary' : isPrimary('E', item.path)}"
                                   ng-click="setExistingPrimary(item)" role="button">
                                    Primary
                                </a>
                                <a class="btn btn-danger btn-sm" delete-image-confirmation role="button">
                                    Remove
                                </a>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>


</form>
</div>

