<style>
.list-image {
    float: left;
    margin-right: 20px;
}

.list-info {
    float: left;
    width: 59%;
}

.list-location {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #5e5e5e;
}

.list-description {
    color: #5e5e5e;
    font-size: 16px;
    margin-bottom: 9px;
}

.listing {

}

.pill {
    border: 1px solid #dadde2;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
}

.pill table {
    width: 100%;
}

.pill table td.pill-section {
    border-right: 1px solid #dadde2;
    color: #3b3d40;
    padding: 7px 14px;
    text-align: center;
}

.pill table td.pill-section .pill-section-figure {
    font-size: 17px;
}

.pill table td.pill-section .pill-section-caption {
    color: #939292;
    font-size: 12px;
}

@media (max-width: 1199px) {
    .house-image img {
        height: 135px;
        width: 157px;
    }

    .pill table td.pill-section {
        padding: 3px 7px;
    }

    .main-picture {
        width: 400px !important;
        height: 300px !important;
    }
}

@media (max-width: 991px) {
    .house-image {
        margin-left: 30px !important;
    }

    .index {
        margin-left: 17px;
    }

    .main-picture {
        width: 480px !important;
        height: 300px !important;
    }
}

@media (max-width: 767px) {
    .house-image {
        margin-left: 30px !important;
    }

    .index {
        margin-left: 17px;
    }

    .user-button {
        display: none;
    }

}

@media (min-width: 424px) and (max-width: 517px) {
    .house-image img {
        height: 120px;
        width: 147px;
    }

    .pill table td.pill-section {
        padding: 3px 7px;
    }

    .location-name {
        font-size: 1.3em !important;
    }

}

@media (max-width: 423px) {
    .house-image img {
        height: 116px;
        width: 143px;
    }

    .pill table td.pill-section {
        padding: 3px 7px;
    }
}

#adder {
    position: absolute;
    top: 0px;
    right: 5px;
    color: #006600;
    font-size: 12px;
    font-weight: 700;
    font-family: "proxima-nova", sans-serif;
}

#item-options {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #939292;
    font-size: 12px;
    font-weight: 700;
    font-family: "proxima-nova", sans-serif;
}

.index {
    position: absolute;
    top: 2px;
    left: 2px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 1em !important;
    color: #f5f5f5;

    border-radius: 50%;
    background-color: #464646;
}

select, a {
    cursor: pointer;
}

.location-name {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #1ba1e1;
}

.ngFade.ng-enter {
    transition: .5s linear all;
    opacity: 0;
}

.ngFade.ng-enter-active {
    opacity: 1;
}

.well-sm {
    border-radius: 15px;
    background-color: white;
    margin: 0 0;
    box-shadow: 2px 2px 1px darkgray;
    margin-top: 5px !important;
}

.hovered {
    border-radius: 22px;
    background-color: white;
    margin: 0 0;
    box-shadow: 0 0 20px #222222;
}

.display-none {
    display: none;
}

#products-container {
    border: 0;
    height: 100%;
    /*background-color: rgba(56, 58, 56, 0.100);*/
}


</style>

<div class="row" id="products-container"
     ng-hide="data.error">


    <div class="container">
        <div class="col-md-6 col-lg-6">
            <div class="row"><!--style="overflow-y: auto; height: 492px;">-->

                <div class="well well-sm col-lg-12 clearfix list-container"
                     ng-repeat="item in data.products | filter:categoryFilterFn | orderBy: searchData.criteria | range:selectedPage:pageSize track by item._id"
                     ng-mouseenter="hover = true"
                     ng-mouseleave="hover = false"
                     ng-class="{pointed: hover, hovered: util.currentProduct._id == item._id}"
                     ng-click="showDetailsView(item);"
                     update-current-product>
                    <!--ng-click="redirectPage('/details',item)">-->
                    <div class="house-image" style="float: left; margin-right: 25px; margin-left: 10px">

                        <img ng-src="{{item.primaryImage}}" ng-show="item.primaryImage">
                        <span ng-hide="item.primaryImage"> <img ng-src="/images/gif/lg-loading-spinner.gif"></span>
                    </div>

                    <div style="float: left; width: 48%">
                        <div>
                            <span class="index">{{$index + 1}}</span>
                            <span class="location-name" ng-class="{highlighted: hover}">{{item.city}}</span>

                            <div id="item-options" ng-if="isUserOwned()">
                                <div>
                                    <input type="image" src="/images/icons/edit-icon.png"
                                           ng-click="editProduct(item);"/>
                                </div>
                                <div>
                                    <input type="image" src="/images/icons/delete-icon.png"
                                           delete-product-confirmation/>
                                </div>
                            </div>
                        </div>
                        <div id="adder">
                            <div class="pill-section-figure">
                                {{item.updatedAt | daysBetween}}

                            </div>
                        </div>
                        <div class="pill">
                            <table class="pill-info1">
                                <tbody>
                                <tr>
                                    <td class="pill-section">
                                        <div class="pill-section-figure">
                                            {{item.beds}}

                                        </div>
                                        <div class="pill-section-caption">
                                            bed

                                        </div>
                                    </td>
                                    <td class="pill-section">
                                        <div class="pill-section-figure">
                                            {{item.bath}}

                                        </div>
                                        <div class="pill-section-caption">
                                            bath

                                        </div>
                                    </td>
                                    <td class="pill-section">
                                        <div class="pill-section-figure">
                                            {{item.price | currency}}

                                        </div>
                                        <div class="pill-section-caption">
                                            price

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pill">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="pill-section">
                                        <div class="pill-section-figure">
                                            {{item.floorArea}} sq. m

                                        </div>
                                        <div class="pill-section-caption">
                                            floor area

                                        </div>
                                    </td>
                                    <td class="pill-section">
                                        <div class="pill-section-figure">
                                            {{item.lotArea}} sq m

                                        </div>
                                        <div class="pill-section-caption">
                                            lot area

                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!--<div class="list-image">
                        <img ng-src="{{item.image}}">
                    </div>
                    <div class="list-info">

                        &lt;!&ndash;<span class="pull-right label label-primary">
                    {{item.price | currency}}
                    </span>&ndash;&gt;

                    <div class="list-location">
                        {{item.location}}
                    </div>
                    <div class="list-description">
                        {{item.description}}
                    </div>
                </div>-->

                </div>

                <div class="pull-right btn-group">
                    <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                       ng-click="selectPage($index + 1)"
                       class="btn btn-default"
                       ng-class="getPageClass($index + 1)">
                        {{$index + 1}}
                    </a>
                </div>
            <span class="pull-right" style="font-weight: bolder; font-size: 15px"
                  ng-class="{'display-none' : !data.products || !data.products.length > 0}">Page: &nbsp; </span>
            </div>


        </div>
        <div class="col-md-6 col-lg-6" id="main">
            <div ng-hide="util.currentProduct._id">
                <!--<span style="font-size: 30px">Click Any Product To See Details</span>-->
            </div>
            <!--For fixed details view on right page-->
            <!--<div ng-if="util.currentProduct.id"  style="position: fixed; width: 40%" class="details-view">
                <div ng-include="'/views/productDetails.html'" class="ngFade"></div>
            </div>-->
            <div ng-if="util.currentProduct._id" class="details-view">
                <div ng-include="'/views/productDetails.html'" class="ngFade"></div>
            </div>
        </div>
    </div>
</div>


